<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr"
         connectionString="Data Source=A2NWPLSK14SQL-v01.shr.prod.iad2.secureserver.net;
                           Initial Catalog=WinfoInternDB7;
                           User ID=WinfoIntern;
                           Password=aitaurangabad@2025"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <!-- Turn off custom errors for debugging -->
    <customErrors mode="Off" />

    <!-- Compilation and target framework -->
    <compilation debug="true" targetFramework="4.7.2" />

    <!-- Default Forms Authentication -->
    <authentication mode="Forms" />

    <!-- Maintain session for 30 mins -->
    <sessionState timeout="30" />
 </system.web>
</configuration>
